<!DOCTYPE html>
<html>
<head>
    <title>Signup Form</title>
</head>
<body>
<h2>Signup Form</h2>
<form id="signupForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Sign Up</button>
</form>

<div id="result"></div>

<!-- jQuery 라이브러리를 불러오기 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 외부 스크립트 파일 불러오기 -->
<script src="/js/script.js"></script>
</body>
</html>